@import '../base/variables';

/* Footer Styles */
footer {
  background-color: $secondary-dark-color;
  color: $white;
  padding: 1rem;
  text-align: center;

  p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
}