@import '../base/variables';

/* Header Styles */
header {
  background-color: $primary-dark-color;
  color: $white;
  padding: 1rem;

  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  nav ul li a {
    color: $white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

    &:hover {
      color: $primary-light-color;
    }
  }

  nav ul li button {
    background: none;
    border: none;
    color: $white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

    &:hover {
      color: $primary-light-color;
    }
  }
}