@import '../base/variables';

header {
  background-color: $primary-color;
  color: $white;

  .nav-link {
    color: $white;
    text-decoration: none;
    margin-right: 1rem;
    font-family: 'Poppins', sans-serif;

    &:hover {
      color: $primary-light-color;
    }

    &.active-link {
      font-weight: bold;
      border-bottom: 2px solid $primary-light-color;
    }
  }

  .auth-button {
    margin-left: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }

  .menu-icon {
    color: $white;
  }
}
