/* Typography */
body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
  font-weight: 600;
}

p, a, li {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
